# Dependencies
node_modules/
server/node_modules/
client/node_modules/

# Environment variables
.env
server/.env
client/.env

# Build outputs
client/dist/
client/build/

# Logs & temp
*.log
npm-debug.log*
.DS_Store
.vscode/
.idea/
